.hero {
    width: 100%;
    height: 763px; /* adjust this value as necessary */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero .hero-title {
    font-size: 71px; /* adjust this value as necessary */
    color: #fff; /* adjust this value as necessary */
    position: absolute;
    top: 33%;
    left: 34%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Bowlby One SC;
    font-style: normal;
}

.svg-container {
    position: absolute;
    bottom: -14px;
    width: 100%;
    height: auto;
}

.svg-container svg{
    max-width: 100%;
}

