footer#footer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.footer-section {
    width: 20%; /* Adjust this as needed */
    margin-bottom: 20px; /* Adjust this as needed */
}

.footer-section h4 {
    margin-bottom: 10px; /* Adjust this as needed */
    color: #FB964D;
    font-family: Be Vietnam;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.1px;
    padding-bottom: 10px;
}

.footer-section p {
    margin-bottom: 5px; /* Adjust this as needed */
    color: #FFF;
    font-family: Be Vietnam;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120.6%;
    letter-spacing: 1.4px;
}

.footer-section form {
    display: flex;
    flex-direction: column;

}

.footer-section input[type="email"] {
    margin-bottom: 10px;
    stroke-width: 1px;
    background-color: rgba(0, 0, 0, 0.00);
    stroke: #FFF;
    width: 240px;
    height: 28px;
    color: #FFFFFF;
}

.footer-section button[type="submit"] {
    cursor: pointer;
    border-radius: 20px;
    width: 161px;
    height: 36px;
    background-color: #DB4617;

}
